@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --bg: #faf6df;
    --card-bg: #fdfced;
}

* {
    background-color: var(--bg, #ffffff);
}

body {
    font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 8rem;
}

nav a {
    color: black;
}

nav a:hover {
    color: #0077cc;
    transform: scale(1.05);
}

nav a.active {
    color: darkcyan;
}

main {
    padding: 2rem 4rem; 
}

section {
    padding: 1rem 1rem;
}

.title {
    display: flex;
    align-items: center;       
    gap: 4rem;                  
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.title img {
    width: 240px;
    height: 240px;
    border-radius: 50%; 
    background-color: #f3f4f6; 
    border: 4px solid #e5e7eb;
    object-fit: cover;
    object-position: center;
}

section > h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}

skill-subsection { display: block; }

skill-subsection h3 {
    margin: 0 0 0.75rem 0;
    font-size: 1.15em;
    font-weight: 400;
}

skill-subsection ul,
skill-subsection ol {
    margin: 0;
    line-height: 1.5;
}

@scope (#experiences) {
    * {
        background-color: var(--card-bg);
    }

    article {
        width: 90%;
        max-width: 900px;
        margin-inline: auto;            
        border: 1px solid #cfcfcf;
        border-radius: 1.25rem;
        padding: 2rem;
        box-shadow: 0 .25rem .75rem rgba(0,0,0,.06);
        overflow: hidden;
    }

    /* spacing between cards */
    article + article { 
        margin-top: 2.5rem; 
    }

    article {
        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 1rem 0;
            font-size: 1.25rem;
            font-weight: 700;
            padding: .5rem .75rem;
            border-radius: 30px;
        }

        span { 
            font-weight: 400; 
            font-size: 0.8em;
        }

        ul {
            margin: 0;
            padding: .5rem 3rem;

            li {
                line-height: 1.5;
                margin-block: .5rem;
            }
        }
    }

    @media (max-width: 900px) {
        article h3 {
            flex-direction: column;
            align-items: flex-start;
            gap: .25rem;
        }
    }
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.95rem;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }
    
}